*{
	margin:0;
	padding:0;
}

body{
	/* Setting default text color, background and a font stack */
	font-size:0.825em;
	font-size:13px;
	
	color:#444444;
	
	/* CSS3 multiple background images. The former is shown above the latter: */
	
	background-image: url(img/demo_page/demo_bg_gradient.jpg),url(img/demo_page/demo_bg_tile.jpg);
	background-repeat: no-repeat,repeat;
	background-position:center center;
	background-color:#e4e4e4;
	font-family:Arial, Helvetica, sans-serif;
}


#main{
	position:relative;
	margin:50px auto;
	width:960px;
}

#feedWidget{
	background:url(img/bg.png) repeat-x #47525c;
	border:5px solid #48535e;
	margin:0 auto;
	width:700px;
	padding:5px;
	position:relative;
	
	/* Remains hidden if JS is not enabled: */
	display:none;
	z-index:20;
}


#activeTab.hover,.dropDownList{
	background:url(img/drop_arrow.png) no-repeat 95% 50% #47525c;
	border:1px solid #38434d;

	margin:-1px;
	
	cursor:pointer;
	
	/* CSS3 round corners: */
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	
}

#activeTab,.dropDownList div{
	color:white;
	cursor:pointer;
	font-size:20px;
	margin:0 2px 0 0;
	padding:5px;
	
	text-shadow:0 1px 1px black;
}

.line{
	height:1px;
	overflow:hidden;
	background-color:#2b353d;
	border-bottom:1px solid #687581;
	margin:10px 0;
}

.dropDownList{
	background-image:none;
	position:absolute;

	border-top:none;
	padding:5px;
	
	/* We reset the roundness of the top corners, inherited by a previous rule: */
	
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.dropDownList div:hover{
	background-color:#505e6b;
}

#tabContent div{
	/* The feed entry divs */
	
	background-color:#EEEEEE;
	color:#555555;
	font-size:16px;
	margin-bottom:10px;
	padding:5px;
	position:relative;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	
	-moz-box-shadow:0 1px 1px black;
	-webkit-box-shadow:0 1px 1px black;
	box-shadow:0 1px 1px black;
}

/* The styles below are only necessary for the styling of the demo page: */

h1, .tutInfo{
	background-color:#CCCCCC;
	border-bottom:1px solid #BBBBBB;
	font-size:1em;
	font-weight:normal;
	padding:15px;
	right:0;
	text-align:center;
}

a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

a img{
	border:none;
}

.shadow{
	position:relative;
	z-index:10;
	width:270px;
	height:30px;
	background:url(img/demo_page/shadow.png) no-repeat center center;
	margin:-15px auto 0;
}

.back-to-the-tutorial{
	left:0;
	position:absolute;
	top:110px;
}

.tutInfo{
	/* The tutorial info on the bottom of the page */
	padding:10px 0;
	text-align:center;
	position:fixed;
	bottom:2px;
	border-bottom:none;
	font-size:1em;
	border-top:1px solid #BBBBBB;

	width:100%;
	z-index:100;
}
.topcorner{
   position:absolute;
   top:0;
   right:0;
  }

h1,h2,p.tutInfo{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
}
